.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.join-container {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.join-card h2 {
  margin-bottom: 20px;
}

.join-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.join-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.join-card button:hover {
  background: #5a67d8;
}

/* CHAT CONTAINER */
.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
}

/* HEADER */
.chat-header {
  background: #667eea;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit-btn {
  background: red;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* MESSAGE BUBBLES */
.message {
  max-width: 60%;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message.own {
  margin-left: auto;
  background: #dcf8c6;
}

.author {
  font-size: 12px;
  font-weight: bold;
}

.time {
  font-size: 10px;
  float: right;
}

/* FOOTER */
.chat-footer {
  display: flex;
  padding: 10px;
  background: white;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-footer button {
  margin-left: 10px;
  padding: 10px 15px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
